In [78]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.support.select import Select
import pyautogui
import time
import pandas as pd

In [79]:
# Iniciarliza o navegador e o site
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get('http://www.dpi.inpe.br/calcula/')
driver.maximize_window()

driver.switch_to.default_content()
frame1 = driver.find_element(By.XPATH,'/html/frameset/frameset/frame')
frame2 = driver.find_element(By.XPATH,'/html/frameset/frameset/frameset/frame')
frame3 = driver.find_element(By.XPATH,'/html/frameset/frameset/frameset/frameset/frame')



x=str(-43.82766535)
y=str(-16.6855037)

driver.switch_to.frame(frame1)

'''
Selecionar o tipo de coordenada de entrada, por padrão o tipo de coordenada é Grau Decimal.
Abaixo temos os demais valores para selecionar caso necessário:
        latlong_gd = GEOGRAFICA (Grau Decimal)
        latlong_gms = GEOGRAFICA (Grau Minuto Segundo)
        utm = UTM (metros)
        policonica = POLICONICA (metros)
        lambert = LAMBERT (metros)
        mercator = MERCATOR (metros)
        albers = ALBERS (metros)
        cilequi = CILIN. EQUIDISTANTE (metros)
        miller = MILLER (metros)
        gaus = GAUSS (metros)

'''
Select(driver.find_element(By.XPATH, '/html/body/div[1]/center/table/tbody/tr[3]/td/select')).select_by_value('latlong_gd')




'''
Selecionar o datum utilizado pelos dados de entrada, por padrão o datum de entrada é o WGS84
Abaixo temos os demais valores para selecionar, caso necessário: 
        1 = SAD 69
        2 = CorregoAlegre
        3 = Astro-Chua
        4 = WGS84
        5 = SIRGAS2000
'''
Select(driver.find_element(By.XPATH, '/html/body/div[1]/center/table/tbody/tr[9]/td/select')).select_by_value('4')

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 102.0.5005
[WDM] - Get LATEST chromedriver version for 102.0.5005 google-chrome
[WDM] - Driver [C:\Users\user\.wdm\drivers\chromedriver\win32\102.0.5005.61\chromedriver.exe] found in cache
C:\Users\user\AppData\Local\Temp\ipykernel_7772\2111310843.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(ChromeDriverManager().install())

In [80]:


driver.find_element(By.XPATH,'/html/body/div[1]/center/table/tbody/tr[5]/td/input[1]').send_keys(x)
driver.find_element(By.XPATH,'/html/body/div[1]/center/table/tbody/tr[7]/td/input[1]').send_keys(y)
driver.find_element(By.XPATH, '/html/body/div[1]/center/table/tbody/tr[10]/td/input').click()

In [81]:
driver.switch_to.default_content()
driver.switch_to.frame(frame2)

'''
Selecionar o tipo de coordenada de saida, por padrão o tipo de coordenada é UTM.
Abaixo temos os demais valores para selecionar caso necessário:
        utm = UTM (metros)
        latlong = GEOGRAFICA
        policonica = POLICONICA (metros)
        lambert = LAMBERT (metros)
        mercator = MERCATOR (metros)
        albers = ALBERS (metros)
        cilequi = CILIN. EQUIDISTANTE (metros)
        miller = MILLER (metros)
        gaus = GAUSS (metros)

'''
Select(driver.find_element(By.XPATH, '/html/body/table/tbody/tr[2]/td/select')).select_by_value('utm')

'''
Selecionar o datum utilizado pelos dados de saida, por padrão o datum de saida é o WGS84
Abaixo temos os demais valores para selecionar, caso necessário: 
        1 = SAD 69
        2 = CorregoAlegre
        3 = Astro-Chua
        4 = WGS84
        5 = SIRGAS2000
'''
Select(driver.find_element(By.XPATH, '/html/body/table/tbody/tr[4]/td/select')).select_by_value('4')

driver.find_element(By.XPATH, '/html/body/table/tbody/tr[5]/td/input').click()

In [82]:
driver.switch_to.default_content()
driver.switch_to.frame(frame3)

latUTM = driver.find_element(By.XPATH,'/html/body/table[1]/tbody/tr[8]/td[2]/font/i').get_attribute('innerHTML')
print("Latitude UTM: ", latUTM)

lonUTM = driver.find_element(By.XPATH, '/html/body/table[1]/tbody/tr[12]/td[2]/font/i').get_attribute('innerHTML')
print("Longitude UTM: ",lonUTM)

zonaUTM = driver.find_element(By.XPATH, '/html/body/table[2]/tbody/tr/td/font/i').get_attribute('innerHTML')
print(zonaUTM)

Latitude UTM:  625000.6846329
Longitude UTM:  8154868.3696232
Meridiano Central = -45 /// Fuso UTM = 23

In [99]:
a = float(latUTM)
b = float(lonUTM)
c = int(zonaUTM[39:41])

print("Latitude UTM: ", a)
print("Longitude UTM: ", b)
print("Zona UTM: ", c)

Latitude UTM:  625000.6846329
Longitude UTM:  8154868.3696232
Zona UTM:  23

In [101]:
file = pd.read_csv("DadosTesteIN.csv", ";")
display(file)

C:\Users\user\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py:3361: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  exec(code_obj, self.user_global_ns, self.user_ns)

,DC_NOME,SG_ESTADO,CD_SITUACAO,VL_LATITUDE,VL_LONGITUDE,VL_ALTITUDE,DT_INICIO_OPERACAO,CD_ESTACAO
0,LAGOA DA CONFUSAO,TO,Operante,"-10,828286","-49,847882",178,14/11/2016,A055
1,LAGOA VERMELHA,RS,Operante,"-28,222381","-51,512845","833,83",01/03/2007,A844
2,LARANJEIRAS DO SUL,PR,Pane,"-25,36888888","-52,39194444",835,06/08/2016,B804
3,LENCOIS,BA,Operante,"-12,557854","-41,388808","438,09",04/04/2008,A425
4,LINHARES,ES,Operante,"-19,35694444","-40,0686111",40,26/10/2006,A614
...,...,...,...,...,...,...,...,...
281,VITORIA DA CONQUISTA,BA,Operante,"-14,88638888","-40,80138888","879,38",31/05/2007,A414
282,VOTUPORANGA,SP,Operante,"-20,40333333","-49,96611111","510,37",03/12/2006,A729
283,XANXERE,SC,Operante,"-26,938666","-52,39809","878,74",14/03/2008,A858
284,XINGUARA,PA,Operante,"-7,110518","-49,926072",245,10/09/2016,A247
285,ZE DOCA,MA,Operante,"-3,26916666","-45,65111111","45,5",17/09/2019,A255

In [104]:
for i in file.VL_ALTITUDE and file.VL_LATITUDE:

-10,828286